{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "style.sass" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $fontName     := .Site.Params.font.name | default "Open Sans" }}
{{- $fontFace     := replace $fontName " " "+" }}
{{- $fontSizes    := delimit (.Site.Params.font.sizes | default (slice 300 400 600 700)) "," }}
{{- $fontUrl      := printf "https://fonts.googleapis.com/css?family=%s:%s" $fontFace $fontSizes }}
<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />
<link href="{{ $fontUrl }}" rel="stylesheet">
{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
<link rel="stylesheet" type="text/css" href="{{ "css/custom.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "fontawesome/css/fontawesome.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "fontawesome/css/solid.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "fontawesome/css/brands.css" | relURL }}">
