<div class="container section-home-launched text-center" id="members">
  <div class="ospo-zone-members">
    <ul class="text-center list-inline">
      <li>
	<a href="https://www.eclipse.org/">
	  <img src="{{ "images/partner-logos/eclipse_foundation_logo.png" | absURL}}" alt="Eclipse Foundation logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://publiccode.net/">
	  <img src="{{ "images/partner-logos/foundation-for-public-code.svg" | absURL}}" alt="Foundation for Public Code logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://openforumeurope.org/">
	  <img src="{{ "images/partner-logos/ofe-logo.png" | absURL}}" alt="OpenForum Europe logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://www.ow2.org/">
	  <img src="{{ "images/partner-logos/ow2-logo.png" | absURL}}" alt="OW2 logo" class="members-img" /></a>
      </li>
    </ul>
    <hr />
    <ul class="text-center list-inline">
      <li>
        <a href="https://amadeus.com/opensource/">
          <img src="{{ "images/partner-logos/amadeus-logo.png" | absURL}}" alt="Amadeus logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.apell.info/">
          <img src="{{ "images/partner-logos/APELL logo blue transparent.png" | absURL}}" alt="APELL logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.apereo.org/">
          <img src="{{ "images/partner-logos/apereo-logo.png" | absURL}}" alt="Apereo logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://bitergia.com/">
	  <img src="{{ "images/partner-logos/bitergia_logo.png" | absURL}}" alt="Bitergia logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.bosch.com/">
          <img src="{{ "images/partner-logos/bosch-logo.png" | absURL}}" alt="Bosch logo" class="members-img" /></a>
      </li>
     <li>
	<a href="https://castalia.solutions/">
	  <img src="{{ "images/partner-logos/castalia_solutions_logo-transparent.png" | absURL}}" alt="Castalia Solutions logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.ch-open.ch/">
          <img src="{{ "images/partner-logos/ch-open-logo.png" | absURL}}" alt="CH-Open logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://cnll.fr/">
          <img src="{{ "images/partner-logos/cnll-logo.png" | absURL}}" alt="CNLL logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://emqx.com">
          <img src="{{ "images/partner-logos/emq-logo.png" | absURL}}" alt="EMQ logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.eng.it/en/">
          <img src="{{ "images/partner-logos/Engineering.png" | absURL}}" alt="Engineering logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.esop.pt/">
          <img src="{{ "images/partner-logos/esop-logo.png" | absURL}}" alt="ESOP logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://fsfe.org/">
          <img src="{{ "images/partner-logos/fsfe-logo.png" | absURL}}" alt="FSFE logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://gfoss.eu/">
          <img src="{{ "images/partner-logos/GFOSS_logo.png" | absURL}}" alt="GFOSS logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.huawei.com/">
          <img src="{{ "images/partner-logos/huawei-logo.png" | absURL}}" alt="Huawei logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://inno3.fr/">
	  <img src="{{ "images/partner-logos/inno3-logo.png" | absURL}}" alt="Inno3 logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://documentfoundation.org/">
	  <img src="{{ "images/partner-logos/libreoffice-logo.jpg" | absURL}}" alt="LibreOffice logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://linagora.com">
	  <img src="{{ "images/partner-logos/Linagora-logo.png" | absURL}}" alt="Linagora logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://meshedinsights.com/">
	  <img src="{{ "images/partner-logos/meshed_insights_logo.png" | absURL}}" alt="Meshed Insights logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://opensource-dev.microsoft.com/ospo/">
         <img src="{{ "images/partner-logos/microsoft_logo.png" | absURL}}" alt="Microsoft logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://omniscloud.eu/">
	  <img src="{{ "images/partner-logos/omnis_cloud_logo.png" | absURL}}" alt="Omnis Cloud logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://open-elements.de/">
	  <img src="{{ "images/partner-logos/open-elements-logo.png" | absURL}}" alt="Open Elements logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://openuk.uk/">
          <img src="{{ "images/partner-logos/openuk-logo.png" | absURL}}" alt="OpenUK logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.orange.com/en">
              <img src="{{ "images/partner-logos/orange-logo.jpeg" | absURL}}" alt="Orange logo" class="members-img" /></a>
     </li>
    <li>
	<a href="https://www.osadl.org/">
	  <img src="{{ "images/partner-logos/OSADL-logo.png" | absURL}}" alt="OSADL" class="members-img" /></a>
      </li>
      <li>
        <a href="https://osb-alliance.de/">
          <img src="{{ "images/partner-logos/OSB_Alliance.png" | absURL}}" alt="OSB Alliance logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.ossbig.at/">
          <img src="{{ "images/partner-logos/ossbig.png" | absURL}}" alt="OSSBIG logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://www.prestashop.com/">
	  <img src="{{ "images/partner-logos/prestashop-logo.png" | absURL}}" alt="Prestashop" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.redhat.com">
            <img src="{{ "images/partner-logos/redhat_logo.png" | absURL}}" alt="RedHat logo" class="members-img" /></a>
      </li>
      <li>
	<a href="https://sailboard.io/">
	  <img src="{{ "images/partner-logos/sailboard-logo.svg" | absURL}}" alt="Sailboard logo" style="min-width:150px" class="members-img" /></a>
      </li>
      <li>
        <a href="https://developers.sap.com/open-source.html">
            <img src="{{ "images/partner-logos/sap_logo.png" | absURL}}" alt="SAP logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://opensource.suse.com/">
            <img src="{{ "images/partner-logos/suse-logo.png" | absURL}}" alt="SUSE logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.thalesgroup.com/en/open-source-software-solutions">
            <img src="{{ "images/partner-logos/thales_logo.png" | absURL}}" alt="Thales logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.tno.nl/en/">
          <img src="{{ "images/partner-logos/tno-logo.png" | absURL}}" alt="TNO logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.tcd.ie/innovation/OSPO/">
          <img src="{{ "images/partner-logos/trinity_logo.jpg" | absURL}}" alt="TNO logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.wipro.com/">
          <img src="{{ "images/partner-logos/wipro-logo.png" | absURL}}" alt="Wipro logo" class="members-img" /></a>
      </li>
      <li>
        <a href="https://www.zeiss.com/">
          <img src="{{ "images/partner-logos/zeiss-logo.png" | absURL}}" alt="Zeiss logo" style="min-width:150px; min-height:150px" class="members-img" /></a>
      </li>
    </ul>
  </div>
</div>
